/* Añadimos fuente de texto, y otros arreglos */
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    margin: 0px;
}
 
/* Disposición flexible con flexbox */

.container {
    display: flex;
    flex-direction: column;
}

/* Barra de navegación */

.icon {
    font-size: 0.5em;
}

.navbar {
    background: #333;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size:1.1em;
    padding-right:1em;
    padding-left:1em;
}

.navbar .logowtext {
    color: white;
}

.navbar .logo {
    height: 3em;
}

.nav-list {
    list-style-type: none;
}

.nav-list .list-item {
    display: inline-block;
    padding: 1.5em 1.5em;
    transition: 0.3s;
}

.nav-list .list-item:hover {
    padding-right: 1.5em;
    padding-left: 1.5em;
}

.nav-list .list-item:hover {
    opacity:0.8;
    background-color:purple;
    border-radius: 1em;
}

.nav-list .list-item a {
    text-decoration: none;
    color:white;
}

.menu-line {
    display: none;
}

/* Banner de index.html */

.banner {
    width: 100%;
    height: 600px;
    animation: banner 10s infinite linear alternate;
    background-size: 100% 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes banner {
    0%, 33% {
        background-image: url(../img/1arduino.jpg);
    }
    33%, 66% {
        background-image: url(../img/2arduino.jpg);
    }
    66%, 100% {
        background-image: url(../img/3cat.jpg);
    }
}

.back-banner {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    background:rgba(0, 0, 0,0.7);
}

.section-banner {
    z-index: 2;
    width: 100%;
    max-width: 550px;
    text-align: center;
}

.section-banner h1 {
    color:#fff;
    font-size: 45px;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.section-banner p {
    color:#ffffff;
    line-height: 1.6;
    margin-bottom: 30px;   
}

.section-banner a {
    color: #fff;
    text-decoration: none;
    background-color:#837dd1;
    padding: 16px 36px;
    display: inline-block;
    border-radius: 70px;
    transition: 0.5s;
}

.section-banner a:hover {
    padding: 16px 60px;
    font-size: 24px;
}

/* Formulario */

.form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80%;
    border-radius: 1em;
    margin: auto;
    padding: 2em;
    background-color: rgba(50, 50, 50, 0.7);
    color: white;
}

.form form p {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0px !important;
}

.form form input {
    display: flex;
    flex-direction: column;
    margin: 0.5em;
    height: 3em;
    width: 50%;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: rgba(256, 256, 256, 0.7);
    border-radius: 0.5em;
    transition: 0.5s;
}

.form form h1 {
    font-size: 2em;
}

.form form input:hover {
    max-width: 60% !important;
    width: 60%;
}

<<<<<<< Updated upstream
.main {
    margin: 2em;
}

=======
>>>>>>> Stashed changes
.main .section1 {
    margin-bottom: 2em;
}

.main div {
    background-color: rgba(50, 50, 50, 0.7);
    padding: 1em;
    color: white;
    border-radius: 1em;
}

.main div p {
    text-align: justify;
}

/* MEDIAQUERIES: RESPONSIVE */

@media only screen and (max-width: 900px){
    
    /* Barra de navegación */

    .navbar {
        display:flex;
        flex-direction: column;
        padding-top:1em;
    }

    .menu {
        margin-top: 1em;
        display: flex;
        flex-direction: column;
        padding: 1em;
        transition: 0.5s;
    }

    /* Solo si está visible se ejecuta el evento */

    .menu:hover {
        cursor:pointer;
        background-color:purple;
        border-radius: 6px;
        padding: 1.5em;
    }

    .menu-line {
        display:flex;
        height: 3px;
        width: 20px;
        background-color: white;
        margin-bottom: 6px;
        border-radius: 2px;
    }

    .nav-list .list-item {
        display: none;
        justify-content: center;
        margin-bottom: 1em;
    }

    .nav-list .list-item:hover {
        padding: 1.5em 1.5em;
    }

    /* Formulario */

    .form form {
        max-width: 80%;
    }

    .form form input {
        width: 50%;
    }

}