/* Añadimos fuente de texto, y otros arreglos */
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    margin: 0px;
}
 
/* Disposición flexible con flexbox */

.container {
    display: flex;
    flex-direction: column;
}

.icon {
    font-size: 0.5em;
}

.navbar {
    background: #333;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size:1.1em;
    padding-right:1em;
    padding-left:1em;
}

.nav-list {
    list-style-type: none;
}

.nav-list .list-item {
    display: inline-block;
    padding: 1.5em 1.5em;
    transition: 0.3s;
}

.nav-list .list-item:hover {
    padding-right: 1.5em;
    padding-left: 1.5em;
}

.nav-list .list-item:hover {
    opacity:0.8;
    background-color:purple;
    border-radius: 1em;
}

.nav-list .list-item a {
    text-decoration: none;
    color:white;
}

.logo {
    height: 3em;
}

.menu-line {
    display: none;
}

.banner{
    width: 100%;
    height: 600px;
    animation: banner 10s infinite linear alternate;
    background-size: 100% 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes banner{
    0%,33%{
        background-image: url(../img/1arduino.jpg);
    }
    33%, 66%{
        background-image: url(../img/2arduino.jpg);
    }
    66%, 100%{
        background-image: url(../img/3cat.jpg);
    }
}

.back-banner {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    background:rgba(0, 0, 0,0.7);
}

.lore{
    z-index: 2;
    width: 100%;
    max-width: 550px;
    text-align: center;
}

.lore h1{
    color:#fff;
    font-size: 45px;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.lore p{
    color:#ffffff;
    line-height: 1.6;
    margin-bottom: 30px;   
}

.lore a{
    color: #fff;
    text-decoration: none;
    background-color:#837dd1;
    padding: 16px 36px;
    display: inline-block;
    border-radius: 70px;
}

/* MEDIAQUERIES: RESPONSIVE */

@media only screen and (max-width: 760px){
    .navbar {
        display:flex;
        flex-direction: column;
        padding-top:1em;
    }
    .menu {
        margin-top: 1em;
        display: flex;
        flex-direction: column;
        padding: 1em;
        transition: 0.5s;
    }
    /* Solo si está visible se ejecuta el evento */
    .menu:hover {
        cursor:pointer;
        background-color:purple;
        border-radius: 6px;
        padding: 1.5em;
    }
    .menu-line {
        display:flex;
        height: 3px;
        width: 20px;
        background-color: white;
        margin-bottom: 6px;
        border-radius: 2px;
    }
    .nav-list .list-item {
        display: none;
        justify-content: center;
        margin-bottom: 1em;
    }
    .nav-list .list-item:hover {
        padding: 1.5em 1.5em;
    }
}